@import url('reset.css');

/* __________________________MAIN HEADER __________________________ */

.header-list {
    background: rgb(0,255,199);
    background: linear-gradient(34deg, rgba(0,255,199,1) 0%, rgba(235,0,189,0.9794292717086834) 46%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.header-list li {
    text-transform: uppercase;
}

.header-list li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 25px;
    display: block;
}

.header-second-list {
    position: absolute;
    background: transparent;
    padding-top: 5px;
    background: rgba(163, 170, 177, 0.534);
    transform: scaleY(0);    
    transform-origin: top;
     transition: transform 0.26s ease;
}

.header-list li:hover .header-second-list  {
    transform: scaleY(1);
}

.header-third-list {
    position: absolute;
    bottom: 0;
    right: 100%;
    background: transparent;
    padding-right: 8px;
    transform: scaleX(0);    
    transform-origin: top;
    transition: transform 0.26s ease;
}

.header-third-list li {
    background: rgba(163, 170, 177, 0.534);
}

.header-second-list li:hover .header-third-list {
    transform: scaleX(1);
}

.main-page {
    background-image: url('icons/home-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: transparent;
    padding: 10px 20px 10px 50px;
}

.homeworks {
    background-image: url('icons/chevron-down-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: 30px;
}

.homeworks:hover {
    background-image: url('icons/chevron-up-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: 30px;
}

.gallery {
    background-image: url('icons/image-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: 30px;
}

.flex {
    background-image: url(icons/chevron-left-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 30px;
}